#promo {
  text-align:center;
  padding:40px;
  background:url(../../assets/img/image_1.jpg) no-repeat;
  background-size:cover;
}

@media (min-width: 576px) {
  #promo {
    padding:20px;
    text-align:center;
  }
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:0 auto;
}

@media (min-width: 992px) {
  #promo .jumbotron {
    padding:20px;
    text-align:center;
  }
}

body {
  font-family:Ariel, Helvetica, sans-serif;
  text-align:center;
}

.site-section {
  text-align:center;
  padding:50px 0 60px;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
  text-align:center;
}

#welcome {
  max-width:800px;
  font-size:20px;
  text-align:center;
}

